// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Font-awesome
@import "~font-awesome/scss/font-awesome";

nav {

  height: 10vh;

  img {

    max-width: 40%;
  }

  .active {

    border-bottom: 1px solid;
  }

  a:hover {

    border-bottom: 1px solid;
    text-decoration: none;
  }

  i {

    position: absolute;
    right: 10%;
    font-size: 20px;
  }
}

.img-wrapper {

  img {

    width: 10%;
    height: 10%;
  }
}

footer {

  ul {

    list-style: none;
  }

  img {

    max-width: 40%;
  }

  .fab-cont > i {

    font-size: 25px;
  }
}

.sec-banner {

  height: 200px;
}
